{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block topic %}
    Welcome to the CryptoBot™ 
{% endblock %}

{% block content %}
<h3 style="color: rgb(123, 175, 235);">How to use the CryptoBot:</h3>

<br>
<br>

<p style="color: white;"><span style="color:  rgb(123, 175, 235);">1. </span>Access <span style="color: red;">Account Details</span> page</p>

<p style="color: white;"><span style="color:  rgb(123, 175, 235);">2. </span>Enter your API Key and Secret Key  from Coinspot </p>

<p style="color: white;"><span style="color:  rgb(123, 175, 235);">3. </span>You will then be directed to the <span style="color: red;">New Tracking</span> page where you are required to enter the twitter account you want to track</p>

<p style="color: white;"><span style="color:  rgb(123, 175, 235);">4. </span>Once submitting the correct details, you will then be directed to the <span style="color: red;">Tracking</span> page where your details are stored in a table</p>

<p style="color: white;"><span style="color:  rgb(123, 175, 235);">5. </span>Once the bot has purchased something it will apear in the transactions page</p>


{% endblock %}